<ion-view view-title="Available Hosts">
  <ion-content>
    <h3 class="padding"> {{ name }} </h3>
    <p class="padding">
      Set apart from the crowds, Azure offers an atmosphere of exclusivity for those who seek refined experiences. Worship the sun on one of 15 daybeds and 26 lounge chairs with optional umbrellas, then go for a refreshing dip in your choice of two swimming pools or soak your cares away in the jetted hot tub.
    </p>
    <ion-list>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        ng-repeat="host in hosts"
        type="item-text-wrap"
        ng-click="saveHost($index)"
        href="#/host">

        <img ng-src="{{host.face}}">
        <h2>{{host.firstName}} {{host.lastName}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
