<ion-view view-title="Available Hosts">
  <ion-content>
    <div ng-if="loading" class="center">
      <img src="img/hourglass.gif" />
      <p>
        Fetching Info...
      </p>
    </div>
    <div ng-if="!loading">
      <h3 class="padding"> {{ name }} </h3>
      <img class="secondary" src="img/{{ name }}2.png" />
      <p class="padding">
        <span>
          Hours: {{ info.hours }}
        </span>
        <br />
        <span>
          Location: {{ info.location }}
        </span>
        <br ng-if="info.djs"/>
        <span ng-if="info.djs">
          Home of: {{ info.djs }}
        </span>
      </p>
      <p class="padding">
        {{ info.description }}
      </p>
      <h4 class="padding" ng-if="hosts && hosts.length == 0">
        Sorry, no hosts available..
      </h4>
      <ion-list ng-if="hosts && hosts.length > 0">
        <ion-item
          class="item item-thumbnail-right item-icon-right host"
          ng-repeat="host in hosts"
          type="item-text-wrap"
          ng-click="saveHost($index)"
          href="#/host">

          <img ng-if="host.photoInfo != ''" ng-src="{{ host.photoInfo }}">
          <img ng-if="host.photoInfo == ''" src="img/new_user.png">
          <br />
          <div class="host-name">
            <h2>{{host.firstName}}</h2>
            <h2>{{host.lastName}}</h2>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
