<ion-view view-title="{{host.name}}">
  <ion-nav-title hidden='true'>
  </ion-nav-title>
  <ion-content class="padding">
    <div class="center">
      <h3>{{host.firstName}} {{ host.lastName}}</h3>
      <h4 ng-if="host.nickName">( {{ host.nickName }} )</h4>
      <img ng-if="host.photoInfo != ''" ng-src="{{ host.photoInfo }}" class="host-image">
      <img ng-if="host.photoInfo == ''" src="img/new_user.png" class="host-image">
      <p>
        {{host.description}}
      </p>
      <h4>Contact Information</h4>
      <table>
        <tr>
          <td class="table-label">Mobile: </td>
          <td><a ng-href="tel:{{host.mobile}}"> {{ host.mobile }} </a></td>
        </tr>
        <tr>
          <td> </td>
          <td><a ng-href="sms:{{ host.mobile }}&body={{ textMessageBody }}">Send a Text</a></td>
        </tr>
        <tr>
          <td class="table-label">E-mail: </td>
          <td>{{host.email}}</td>
        </tr>
        <tr>
          <td class="table-label">Dayclub: </td>
          <td>{{host.dayClub}}</td>
        </tr>
        <tr>
          <td class="table-label">Nightclub: </td>
          <td>{{host.nightClub}}</td>
        </tr>
        <tr>
          <td class="table-label">Facebook: </td>
          <td>{{host.socialMedia.facebook}}</td>
        </tr>
        <tr>
          <td class="table-label">Instagram: </td>
          <td>{{host.socialMedia.instagram}}</td>
        </tr>
        <tr>
          <td class="table-label">Twitter: </td>
          <td>{{host.socialMedia.twitter}}</td>
        </tr>
      </table>
  </ion-content>
</ion-view>
