<ion-view hide-nav-bar="true" view-title="Tables Tonight">
  <ion-nav-title hidden='true'>
  </ion-nav-title>
  <ion-content class="padding">
    <h2>Tables Tonight</h2>
    <p>
      Bruh.
    </p>

    <button ng-click="navigate()" class="button button-block button-stable">
      Dayclubs
    </button>

    <button ng-click="navigate()" class="button button-block button-dark">
      NightClubs
    </button>

    <button ng-click="openModal()" class="ion-gear-b button icon"></button>

  </ion-content>
</ion-view>
