<ion-view hide-nav-bar="true" view-title="">
  <ion-nav-title hidden='true'>
  </ion-nav-title>
  <ion-content class="padding">
    <div class="center">
      <img class="top-padding" src="img/logo.png" />
      <h3>Choose a club,</h3>
      <h3>then find a Host</h3>
    </div>

    <div>
      <p class="center">
        <button ng-click="navigate('day')" class="button button-full button-calm">
          Dayclubs
        </button>
        <button ng-click="navigate('night')" class="button button-full button-dark">
          NightClubs
        </button>
      </p>
    </div>

  </ion-content>
</ion-view>
<div class="bar bar-footer bar-clear">
  <button ng-click="openModal()" class="ion-gear-b button button-clear icon pull-right"></button>
</div>
