<ion-modal-view>
    <ion-header-bar class="bar-calm">
      <h1 class="title">Be a Host today!</h1>
      <div class="buttons">
        <button ng-click="closeModal(true)" class="button icon ion-close"></button>
      </div>
    </ion-header-bar>
    <ion-content class="padding">
      <div ng-if="!updateInformation">
        <p class="center">
          <img ng-src="img/new_user.png" />
        </p>
        <p class="center" ng-if="message">
          {{ message }}
        </p>
        <form name="loginHost" novalidate>
          <div ng-if="loading" class="center">
            <img src="img/hourglass.gif" />
            <p>
              Creating account...
            </p>
          </div>
          <div ng-if="!loading">
          	<label class="item item-input">
      	      <span class="input-label">E-mail</span>
      	      <input type="email" ng-model="credentials.email" required>
      	    </label>
      	    <label class="item item-input">
      	      <span class="input-label">Password</span>
      	      <input type="password" ng-model="credentials.password" required>
      	    </label>
          </div>
    	    <button ng-disabled="loginHost.$invalid || loading" ng-click="login()" class="button button-block button-calm">
    	      Login
    	    </button>
        </form>
        <p class="center">
          or
          <br />
          <br />
          <button ng-click="signUp()" class="button button-balanced">
            Sign-Up
          </button>
        </p>
      </div>
      <update-information-steps ng-if="updateInformation" step="updateInformation" close="closeModal"></update-information-steps>
    </ion-content>
  </ion-modal-view>
