/* Empty. Add your own CSS if you like */
.center {
	text-align: center;
}

.host-image {
	width: 128px;
	height: 128px;
}

.pane, .bar-footer, .scroll-content {
	background-color: #000000;
}

.home {
	color: #F9690E;
}

.space {
	height: 50%;
}

h1 {
	font-size: 25px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	color: #FFFFFF;
	background-color: #000000;
}

.item-input, .item-thumbnail-left {
	background-color: #000000;
}

.input-label, p, b, span, li, h4, h3, h1, h2, .bar.bar-stable .title, table {
	color: #FFFFFF;
}

.locations {
	border: none;
	height: 120px;
}

.host-name {
	padding-left: 1em;
  border-right: white;
  border-right-width: 0.1em;
  border-style: solid;
  width: 45%;
}

.item-complex .item-content {
	padding: 0 0 0 0;
	width: inherit;
	background-color: #000000;
}

.top-padding {
	padding-top: 20%;
	width: 100%;
	height: 100%;
}

.item-complex.item-icon-right .item-content {
	padding-right: 0;
	width: 100%;
	height: 100%;
}

.location-image {
	width: inherit;
	z-index: -1;
	position: fixed;
	border-top: white;
	border-top-width: 0.2em;
	border-style: solid;
}

h1 {
	font-weight: bold;
	position: absolute;
	margin-left: 5px;
	bottom: 10px;
	left: 10px;
}

table, .secondary {
	width: 100%;
}

.table-label {
	text-align: right;
	color: #F9690E;
	font-weight: bold;
}

.item-thumbnail-right > img:first-child, .item-thumbnail-right .item-image, .item-thumbnail-right .item-content > img:first-child, .item-thumbnail-right .item-content .item-image {
	right: 60px;
}

.modal {
	background-color: #000000;
}

#description {
	word-break: break-word;
	height: 70px;
}

a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
